#grid {
	width: 1020px;
	margin: 0 auto;
}

.grid {
	float: left;
	height: 100px;
	margin: 0 10px 0 10px;
}

.grid_12 {
	width: 6.372549%; /* 65px */
}

.grid_6 {
	width: 14.705882%; /* 150px */
}

.grid_4 {
	width: 23.039216%; /* 235px */
}

.grid_3 {
	width: 31.372549%; /* 320px */
}

.grid_2 {
	width: 48.039216%; /* 490px */
}

.grid_1 {
	width: 98.039216%; /* 1000px */
}